body {
  font-family: Arial, sans-serif;
  color: #000000;
  background-color: #ffffff;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

#app {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background: #192e39;
  border-radius: 5px;
  box-shadow: 0 0 10px #000000;
}

ul {
  list-style-type: none;
}

.completed {
  text-decoration: line-through;
  color: #888;
}

li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button {
  margin-left: auto;
}

.cards-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  flex: 1;
  background: #b0b1b1;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin-top: 0;
  color: #333;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
}

.task-list {
  list-style: none;
  padding: 0;
}

.input-container {
  margin-bottom: 20px;
}
